services:
  engine_pwa_nginx:
    ports:
      - 80:80
    image: nginx:alpine
    restart: unless-stopped
    container_name: engine_pwa_nginx_container
    volumes:
      - ./nginx/logs/:/var/log/nginx/
      - ../public:/usr/share/nginx/html/
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  engine_pwa_typescript:
    tty: true
    build: ./typescript/
    working_dir: /workspace/
    container_name: engine_pwa_typescript_container
    volumes:
      - ./workspace/:/workspace/
      - ../public/:/workspace/public/
      - ../source/:/workspace/source/
      - ../public/dist/:/workspace/dist/
  engine_pwa_python:
    tty: true
    ports:
      - 5000:5000
    entrypoint: ""
    build: ./python/
    restart: unless-stopped
    working_dir: /workspace/
    # command: tail -f /dev/null
    container_name: engine_pwa_python_container
    volumes:
      - ./python/data/:/workspace/
      - ../assets/dist/:/workspace/dist/
      - ../source/text_to_spech:/workspace/source/
      - ./python/requirements.txt:/workspace/requirements.txt
