services:
  engine_progressive_web_application_nginx:
    ports:
      - 80:80
    image: nginx:alpine
    restart: unless-stopped
    container_name: engine_progressive_web_application_nginx_container
    volumes:
      - ../../data/:/var/log/nginx/
      - ../../public:/usr/share/nginx/html/
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  engine_progressive_web_application_typescript:
    tty: true
    ports:
      - 9005:9005
    build: ./typescript/
    working_dir: /workspace/
    container_name: engine_progressive_web_application_typescript_container
    volumes:
      - ../../data/:/workspace/
      - ../../public/:/workspace/public/
      - ../../source/:/workspace/source/
      - ../../public/dist/:/workspace/dist/
      - ./typescript/package.json:/workspace/package.json
      - ./typescript/tsconfig.json:/workspace/tsconfig.json
      - ./typescript/rollup.config.js:/workspace/rollup.config.js
  engine_progressive_web_application_python:
    tty: true
    ports:
      - 5000:5000
    entrypoint: ""
    build: ./python/
    restart: unless-stopped
    working_dir: /workspace/
    command: tail -f /dev/null
    container_name: engine_progressive_web_application_python_container
    volumes:
      - ../../data/:/workspace/
      - ../../public/:/workspace/public/
      - ./python/entrypoint.sh:/usr/local/bin/entrypoint.sh
      - ./python/requirements.txt:/workspace/requirements.txt
